This folder contains the input data used to create the data/categorical_diabetes.csv file. It is not necessary for running analysis since we have provided the resulting data in the CSV. However, this is our work for consolidating the files downloaded from the CDC website.

The data in this folder is pulled from https://gis.cdc.gov/grasp/diabetes/diabetesatlas-surveillance.html#, Age and Gender tabs.

In [ ]:
import pandas as pd

In [ ]:
# COPY THIS
from google.colab import drive
import os

drive.mount('/content/drive', force_remount=True)
os.chdir('/content/drive/MyDrive/data102')

Mounted at /content/drive

In [ ]:
folder = "data/categorical_diabetes/"
os.listdir(folder)

['diabetes aggregation',
 'diabetes_male.csv',
 'diabetes_female.csv',
 'diabetes_18_44.csv',
 'diabetes_45_64.csv',
 'diabetes_65_74.csv',
 'diabetes_75+.csv']

In [ ]:
data = None
for fname in os.listdir(folder):
    if '.csv' in fname:
    data_name = '-'.join(fname.split('.')[0].split('_')[1:])
    df = pd.read_csv(folder+fname, header=2, index_col=0)
    df = df.iloc[1:, 0:1].rename(columns={'Percentage': data_name})
    if data is None: data = df
    else: data = data.join(df)
data.head()

            male female 18-44 45-64 65-74   75+
State
Alabama     12.0   11.5   4.8  17.8  24.3  21.0
Alaska       6.7    8.6   1.8  10.3  21.3  21.0
Arizona     10.1    8.3   2.8  14.0  21.8  18.7
Arkansas    11.9   11.3   3.9  17.9  24.7  22.8
California  10.9    9.0   2.9  15.4  21.5  22.5

In [ ]:
data.to_csv("data/categorical_diabetes.csv")